body,html{
  background-color: #3C1D0F;
}

.App {
  text-align: center;
  background-color: #3C1D0F;
}

.App-logo {
  background-color: rgba(240, 95, 50, 0.95);
  //animation: App-logo-spin infinite 20s linear;
  height: 200px;
  width:200px;
  border: 1px solid #d17046;
  border-radius: 100%;
  margin: 15px auto;

}

.App-logo img {
  height: 220px;
  margin:auto;
  filter:drop-shadow(8px 8px 10px black) ;

}

.App-header {
  //background-color: #06375f;
  //height: 250px;
  padding: 15px 0;
  background-image: url("bar2.jpg");
  background-size: cover;
  color: white;
  text-shadow:1px 1px 2px black;
  box-shadow: 0 0 3px 1px black;
}

.App-header .btn{
  background-color: #D24229;
  color:#DDAD84;
}

.App-header h1{
  font-size: 3rem;
  background-color: rgba(0, 5, 0, 0.25);
  margin:20px 20px;
  display: inline;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
