.signup-panel{
   background-color: white;
   position: absolute;
   padding:1rem;
   font-size: 1.25rem;
   border:1px solid black;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: left;
   border: 2px solid #2E3409;
}

.btn-panel{
  text-align: center;
}
